.icon {
    position: relative;
    margin-left: 12px;
}

.name {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.services {
    margin-left: 170px;
    position: relative;
}

.timeFrames {
    margin-left: 450px;
    position: relative;
    margin-top: -50px;
}

.bookButton {
    background: #0075FF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    width: 161px;
    height: 47px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    margin-left: 500px;
    top: -120px;
    cursor: pointer;
}
